{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": false,
  "useTabs": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "bracketSameLine": true,
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "arrowParens": "always",
  "printWidth": 120,
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": false
}
